div{
    background-color: rgba(254, 220, 255, 0.281); border:solid black 2px; padding:20px 20px 300px 20px;margin: 0 auto; width: 1000px
}

h1{ 
    color:black; margin: 20px 0px 0px 0px; font-family: 'Times New Roman', Times, serif;
}

h2{
    color:black; font-family: 'Times New Roman', Times, serif;margin: 90px 0px 0px 0px 
}

span{
    color:hotpink; font-weight:bold
}

input{
    margin:5px 0px 6px 0px 
}

.button{
    padding:5px; margin:100px 500px 0px 0px; background-color:greenyellow; float:right; border:greenyellow solid 2px 
}

